################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/SEMANA-6/CentroOdontologico/.vs
/SEMANA-6/CentroOdontologico/CentroOdontologico/bin/Debug/net10.0-windows
/SEMANA-6/CentroOdontologico/CentroOdontologico/obj
/SEMANA-6/OrdenarCadenas/OrdenarCadenas/obj
/SEMANA-6/OrdenarCadenas/.vs/OrdenarCadenas.slnx/v18
/SEMANA-6/OrdenarCadenas/.vs/OrdenarCadenas.slnx/FileContentIndex
/.gitignore
*.user
/.gitignore
/.gitignore
/SEMANA-6/OrdenarCadenas/OrdenarCadenas/bin/Debug/net10.0-windows
/SEMANA-6/OrdenarCadenas/.vs/OrdenarCadenas.slnx/DesignTimeBuild
/SEMANA-6/OrdenarCadenas/.vs/ProjectEvaluation
/SEMANA-6/EncriptarClave/.vs/EncriptarClave.slnx
/SEMANA-6/EncriptarClave/EncriptarClave/obj
/SEMANA-6/EncriptarClave/EncriptarClave/bin/Debug/net10.0-windows
/SEMANA-6/EncriptarClave/.vs/ProjectEvaluation
/SEMANA-7/Semana07/.vs/Semana07.slnx
/SEMANA-7/Semana07/AdivinaEdad/obj
/SEMANA-7/Semana07/AdivinaEdad/bin/Debug/net10.0-windows
/SEMANA-7/Semana07/Tragamonedas/obj
/SEMANA-7/Semana07/Tragamonedas/bin/Debug/net10.0-windows
/SEMANA-7/Semana07/.vs/ProjectEvaluation
/SEMANA-7/Semana07/Imagenes/obj
/SEMANA-7/Semana07/Imagenes/bin/Debug/net10.0-windows
/SEMANA-7/Semana07/.vs/Semana07/CopilotIndices/18.7.1225.11805
/SEMANA-7/Semana07/TragamonedasV2/obj
/Imagenes
/SEMANA-7/Semana07/TragamonedasV2/bin/Debug/net10.0-windows
