<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EjemploSQLCommandInsertar.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="EjemploSQLCommandInsertar.Properties.Settings.Northwind"
            connectionString="Data Source=LAPTOP-KO474Q5M;Initial Catalog=Northwind;Integrated Security=True;Encrypt=True;TrustServerCertificate=True" />
    </connectionStrings>
    <userSettings>
        <EjemploSQLCommandInsertar.Settings1>
            <setting name="NorthwindDB" serializeAs="String">
                <value>Data Source=LAPTOP-KO474Q5M;Initial Catalog=Northwind;Integrated Security=True;Encrypt=True;TrustServerCertificate=True</value>
            </setting>
        </EjemploSQLCommandInsertar.Settings1>
    </userSettings>
</configuration>