<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GestionOrdenesMVVM.Settings.Northwind" connectionString="Server=LAPTOP-KO474Q5M; Database=Northwind; Integrated Security=True; TrustServerCertificate=True;" />
        <add name="GestionOrdenesMVVM.Properties.Settings.Northwind"
            connectionString="Data Source=.;Initial Catalog=Northwind;Integrated Security=True;Encrypt=True;TrustServerCertificate=True" />
    </connectionStrings>
</configuration>